.frame1-container {
  min-height: 100vh;
}
.frame1-frame1 {
  width: 100%;
  height: 4014px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-container1 {
  top: 0px;
  left: 40px;
  width: 1326px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame1-group2 {
  top: 0px;
  right: 0px;
  width: 300px;
  height: 90px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(164, 140, 56, 1);
}
.frame1-text {
  top: 30px;
  left: 78px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-group1 {
  top: 26px;
  left: 0px;
  width: 261px;
  height: 37.3060302734375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame1-text02 {
  top: 8px;
  left: 86px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-s-v-g754 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 37px;
  position: absolute;
}
.frame1-s-v-g19309 {
  top: 245px;
  left: 0px;
  width: 951px;
  height: 542px;
  position: absolute;
}
.frame1-s-v-g19311 {
  top: 591px;
  left: 137px;
  width: 205px;
  height: 411px;
  position: absolute;
}
.frame1-adobe-stock476695910preview4 {
  top: 107px;
  right: -97px;
  width: 683px;
  height: 624px;
  opacity: 0.74;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-container2 {
  top: 344px;
  left: 139px;
  width: 920px;
  height: 259px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame1-text04 {
  top: 0px;
  left: 0px;
  color: rgba(51, 51, 51, 1);
  width: 622px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  box-shadow: 0px 3px 3px 0px rgba(255, 255, 255, 0.6000000238418579) ;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 46px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text06 {
  left: -82px;
  color: rgba(51, 51, 51, 1);
  width: 920px;
  bottom: 2px;
  height: auto;
  position: absolute;
  font-size: 56px;
  align-self: auto;
  box-shadow: 0px 3px 3px 0px rgba(255, 255, 255, 0.6000000238418579) ;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 70px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-line {
  top: 1316px;
  left: -17px;
  width: 1076px;
  height: 3px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-i-m-a-g-e23610765m {
  top: 1384px;
  left: 691px;
  width: 675px;
  height: 380px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text12 {
  top: 1326px;
  left: 139px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 160px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text13 {
  top: 1874px;
  left: 139px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 160px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text14 {
  top: 2460px;
  left: 139px;
  color: rgba(51, 51, 51, 1);
  height: auto;
  position: absolute;
  font-size: 160px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text15 {
  top: 1384px;
  left: 304px;
  color: rgba(164, 140, 56, 1);
  width: 326px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text17 {
  top: 1932px;
  left: 304px;
  color: rgba(164, 140, 56, 1);
  width: 326px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text19 {
  top: 2518px;
  left: 304px;
  color: rgba(164, 140, 56, 1);
  width: 326px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text21 {
  top: 1475px;
  left: 307px;
  color: rgba(59, 64, 67, 1);
  width: 368px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text23 {
  top: 2023px;
  left: 307px;
  color: rgba(59, 64, 67, 1);
  width: 368px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text25 {
  top: 2673px;
  left: 307px;
  color: rgba(59, 64, 67, 1);
  width: 368px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-line1 {
  top: 1844px;
  left: 307px;
  width: 1075px;
  height: 3px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-line2 {
  top: 2372px;
  left: -17px;
  width: 1076px;
  height: 3px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-s-v-g19313 {
  top: 2806px;
  left: 172px;
  width: 226px;
  height: 379px;
  position: absolute;
}
.frame1-i-m-a-g-e3 {
  top: 1164px;
  left: 504px;
  width: 358px;
  height: 72px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-adobe-stock503900175preview {
  top: 1912px;
  left: 691px;
  width: 675px;
  height: 380px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-adobe-stock476695865preview {
  top: 2441px;
  left: 691px;
  width: 675px;
  height: 380px;
  position: absolute;
  border-color: rgba(112, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-text27 {
  top: 3074px;
  left: 459px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 56px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-image1 {
  top: 3157px;
  left: 476px;
  width: 413px;
  height: 3px;
  position: absolute;
  border-color: transparent;
}
@media(max-width: 991px) {
  .frame1-group2 {
    all: center;
  }
  .frame1-adobe-stock476695910preview4 {
    top: 90px;
    right: -51px;
  }
}
